In [1]:
# Dan Collins - IS362 - Project3

In [13]:
import sqlite3
import pandas as pd
import os

In [14]:
new_directory = r'C:\Users\dmcol\Documents\GitWork\IS362-Project3'

In [15]:
os.chdir(new_directory)

In [24]:
conn = sqlite3.connect("chinook.db")

In [17]:
# SQL query to extract the required data

In [18]:
query = """
SELECT c.LastName, c.FirstName, t.Name AS "Track Name", a.Title AS "Album Title"
FROM customers AS c
JOIN invoices AS i ON c.CustomerId = i.CustomerId
JOIN invoice_items AS ii ON i.InvoiceId = ii.InvoiceId
JOIN tracks AS t ON ii.TrackId = t.TrackId
JOIN albums AS a ON t.AlbumId = a.AlbumId
"""

In [19]:
# Execute the query and create a DataFrame

In [20]:
df = pd.read_sql_query(query, conn)

In [21]:
# Display the DataFrame

In [22]:
print(df)

        LastName FirstName                     Track Name  \
0      Gonçalves      Luís            Experiment In Terra
1      Gonçalves      Luís              Take the Celestra
2      Gonçalves      Luís              Shout It Out Loud
3      Gonçalves      Luís               Calling Dr. Love
4      Gonçalves      Luís                       Strutter
...          ...       ...                            ...
2235  Srivastava      Puja           Esporrei Na Manivela
2236  Srivastava      Puja  No Fundo Do Quintal Da Escola
2237  Srivastava      Puja                 Que Luz É Essa
2238  Srivastava      Puja          The Power Of Equality
2239  Srivastava      Puja   Mellowship Slinky In B Major

                                   Album Title
0     Battlestar Galactica (Classic), Season 1
1     Battlestar Galactica (Classic), Season 1
2                                Greatest Kiss
3                                Greatest Kiss
4                                Greatest Kiss
...                                        ...
2235                              Cesta Básica
2236                               Raul Seixas
2237                               Raul Seixas
2238                     Blood Sugar Sex Magik
2239                     Blood Sugar Sex Magik

[2240 rows x 4 columns]

In [23]:
conn.close()